# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# misc
.DS_Store

# npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn-error.log
package-lock.json

# IDE
/.idea

# local
temp

# TODO
TODO*.*
TODO.txt

# Build
/cache
/reports
/__IGNORE__
/docs
